body{
background-color: rgb(6, 6, 53);
color: aliceblue;
}
p,li,h3,h4{
    color:rgba(240, 248, 255, 0.548);
}
nav{
    display: flex;
    margin: 1.5rem 12rem;
    justify-content: space-between;
    align-items: center;
}
header{
     box-sizing: border-box;
    border-bottom: .1rem solid rgba(245, 245, 245, 0.449);
}
ul{
   display: flex;
   list-style: none;
   gap:2.5rem; 
}
.baton{
    padding: .5rem  1rem;
    font-weight: 600;
    font-size:small;
    border-radius: 50px;
    color: aliceblue;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    background-image: linear-gradient(to left bottom ,rgb(102, 0, 255),rgb(255, 0, 179),rgba(249, 249, 8, 0.703));
}
.hide{
    display: none;
}
.p-banner{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* width: 100%; */
    display: flex;
    height: 100vh;
    justify-content: center;
    
}
.banner{
    margin: 4rem 0rem;
    /* padding:3.5rem 0rem; */
   display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

    /* border: 1px solid rgb(255, 255, 255); */

} 
.b-img{

    width: 75%;
    background-image: url(../assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    /* margin: 5rem; */
    /* padding: 5rem 4rem; */
    /* margin-top: 5rem; */
/* border: 1px solid; */
    position: relative;
}
.b-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid; */
    height: 100%;
    /* background-color: aliceblue; */

    /* width: 100%; */
}
.b-text h1{
font-size: 4rem;
text-align: center;
}
.text-b{
/* text-align: center; */
display: flex;
gap: .5rem;
justify-content: center;
align-items:center;
/* background-color: antiquewhite; */
padding: 1rem;
margin:1rem;
}
.text-b .buton{
padding: .5rem  1rem;
    font-weight: 600;
    font-size:small;
    border-radius: 50px;
    color: rgb(6, 125, 36);
  background: none;
   border-color: green;
  display: flex;
    justify-content: center;
    align-items: center;
gap: 0.2rem;}

 .b-img img{
    margin: 6rem 16rem 5rem 6.5rem;
/* background-color: aliceblue;  */
 /* border: 1px solid red; */
 display: block;
 /* margin:0 auto; */
 width: 43%;
}
.b-img button{
  padding: .2rem .6rem;
  background-color: greenyellow;
  color: rgb(6, 58, 15);
  font-weight: 600;
  border-radius: 50px;
  border-style: none;
  position: absolute;
  top: 10%;
  left: 70%;
} 
.about{
    margin: 3rem 13rem 6rem 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    text-align: center;
}
.about-c h1{
    font-size: 3.5rem;
    margin-bottom: 1rem;

}
.about-c p{

margin: 0rem 16rem;}
.container{
    display: flex;
    justify-content: space-around;
}
.cont{
    
}
.cont h1{
    display: flex;
    justify-content: center;
    align-items: center;
  font-size: 3rem;
  font-weight:bolder;
  color: rgb(111, 235, 76);
}
.cont i{
font-size: 30px;
}


@media screen and (max-width:576px) {
    nav ul,
    .m-hide{
        display: none;
    }
    nav{
        margin: 1.5rem;
    }
    .hide
    {
        display: block;
    }
    .b-img{
        width: 57%;
    }
    .b-img img{
        margin: 5rem 20rem 6rem 5.5rem;
        width: 42%;
    }
    .p-banner{
   background-size: cover;  
        background-position: center;
        height: 87vh;
            padding: 3rem 0;
        /* background-size: 100%; */
    }
    .banner{
        margin: 0px;
    }
    .about{
        margin: 1.5rem ;
        gap: .5rem;
        text-align: center;
    }
    .container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }
    .about-c p{
        margin: .3rem;
    }
    .cont h3{
     text-align: center;}
}